.header-basket__img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
}

@media (max-width: 48em) {
  .header-basket__img {
    width: 5.5rem;
    height: auto;
    position: absolute;
    top: 3.3rem;
    right: 3.5rem;
  }

  .header-basket__img img {
    width: 100%;
    height: 100%;
  }
}