* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.520835vw; // на разрешении 1920 0.520835 === 10px
  font-family: 'Inter', sans-serif; // шрифт по умолчанию по сайту
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  margin: 0;
  padding: 0;
}


body {
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  margin: 0;
  padding: 0;
  color: $color-text-black; // цвет по умолчанию текста по сайту
  background-color: #FFFFFF; // цвет фона сайта по умолчанию
}

.container {
  width: 117rem;
  margin: 0 auto;
}

a,
a:hover {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

select {
  border: none;
  width: 100%;
  height: auto;
}

.country {
  width: 100%;
  height: auto;
}


@media (max-width: 48em) {
  html {
    // font-size: 5px;
    font-size: 1.3333vw;
    // font-size: (100/320) * 5vw; // где 320 это ширина моб версии макета
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 3.2rem;
    width: 100%;
  }
}