.header-logo__text {
  @include font(300, 1rem, 150%);
  text-align: center;
  text-transform: uppercase;
  margin-top: -0.5rem;
  position: absolute;
  left: 41.2rem;
  top: 5.5rem;
  letter-spacing: .1rem;
}

@media (max-width: 48em) {
  .header-logo__text {
    font-size: 1.8rem;
    left: 6.5rem;
    top: 5.2rem;
    letter-spacing: .26rem;
  }
}