.delivery__text {
    @include font(300, 2.2rem, 150%);
    text-align: center;
    padding-bottom: 1.3rem;
}

@media (max-width: 48em) {
    .delivery__text {
      margin-bottom: 1.5rem;
      font-size: 3.3rem;
      text-align: start;
    }
  }