.button--style {
  @include font(500, 1.6rem, 140%);
  padding: 1.35rem 2.9rem 1.55rem;
  letter-spacing: .07rem;
  border-radius: 8px;
  border: .1rem solid #FFFFFF;
  

  &:hover {
    position: relative;
    border: .1rem solid #2b3350;
  }
}

@media (max-width: 48em) {
  .button--style {
    display: none;
  }
}